  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: #e8ecee;
  }

  main {
    flex: 10 auto;
  }

  nav ul a,
nav .brand-logo {
  color: #444;
}
  
  .brand-logo {
    margin-left: 10px;
  }
 
  header, main, footer {
    margin: 0px;
    padding: 0px;
  }
  
  div.col.s6.card-links {
    padding: 0px;
  }
  .card-content {
    margin-top: 20px;
  }
 
  .sidenav-trigger {
    color: #4a28e6;
  }
  .parallax-container {
    min-height: 200px;
    line-height: 0;
    height: auto;
    color: rgba(87, 52, 214, 0.9);
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url("/assets/images/background.jpg")
  }
 
  

  @media only screen and (max-width : 450px) {
    .parallax-container {
      /* position: absolute; */
      min-height: 100px;    
    }
    
    
  }